

    <table class="table" style="font-family:arial,sans-serif ;border-collapse: collapse;">
        <% events.forEach( function(model) { %>
        <div>
            <tr>
                <td>
                    <%= model.id %>
                </td>
                <td>
                    <a href="event/update/<%=model.id%>">
                        <%= model.eventname %> </a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>


                <!-- <td>
            <%= model.shortdescription %>
        </td>
        <td>
            <%= model.fulldescription %>
        </td>
    </tr>
    <tr>
        <td>
            <%= model.imageurl %>
        </td>
        <td>
            <%= model.eventdate %>
        </td>
        <td>
            <%= model.time %>
        </td>
        <td>
            <%= model.organizer %>
        </td>
        <td>
            <%= model.highlight %>
        </td> -->
            </tr>
            <% }); %>
        </div>
    </table>