<table class="table" style="font-family:arial,sans-serif ;border-collapse: collapse;">
    <tr>
        <col width="60">
        <col width="200">
        <col width="200">
        <col width="100">
        <col width="100">
        <col width="100">
        <th>
            ID
        </th>
        <th>
            EventName
        </th>
        <th>
            Organizer
        </th>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>
    <% events.forEach( function(model) { %>
    <div>
        <tr>
            <td>
                <%= model.id %>
            </td>
            <td>
                <a href="event/update/<%=model.id%>">
                    <%= model.eventname %> </a>
            </td>
            <td>
                <%= model.organizer %>
            </td>
            <td>
                <button type="button" class="btn btn-warning" onclick="updateEvent('<%= model.id %>')">Update</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" onclick="deleteEvent('<%= model.id %>')">Delete</button>
            </td>
            <td>
                <button type="button" class="btn btn-info" onclick="registerEvent('<%= model.id %>')">Registration</button>
            </td>
        </tr>
        <% }); %>
    </div>
</table>

<script>

    async function deleteEvent(id) {


        var r = confirm("Confirm Delete?");
        if (r == true) {

            var response = await fetch("/event/" + id, {
                method: "DELETE",
                credentials: 'same-origin',
            });
            
            console.log(response);

            alert("successfully delete!")
            window.location.reload(true);

        }


    };
    async function updateEvent(id) {

        window.location.href = "/event/update/" + id;
        }
</script>