<!--search.ejs-->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="navbar-brand" href="../">Home
                    <span class="sr-only">(current)</span>
                </a>
                <a class="nav-item nav-link" href="#">Search</a>
                <a class="nav-item nav-link" href="event/create">Create</a>
                <a class="nav-item nav-link disabled" href="../event">Admin</a>
            </div>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Event Management System</h1>
            <p class="lead">HKBU Event Management System is web-based system for department and student societies to
                broadcast events and actvities as well as registration.</p>
        </div>
    </div>

    <table class="table">
        <% events.forEach( function(model) { %>
        <div>
            <tr>
                <td>
                    <%= model.id %>
                </td>
                <td>
                    <a href="event/update/<%=model.id%>">
                        <%= model.eventname %> </a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>


                <!-- <td>
            <%= model.shortdescription %>
        </td>
        <td>
            <%= model.fulldescription %>
        </td>
    </tr>
    <tr>
        <td>
            <%= model.imageurl %>
        </td>
        <td>
            <%= model.eventdate %>
        </td>
        <td>
            <%= model.time %>
        </td>
        <td>
            <%= model.organizer %>
        </td>
        <td>
            <%= model.highlight %>
        </td> -->
            </tr>
            <% }); %>
        </div>
    </table>